:root {
    --background-color: white;
    --mathOperators-button-color: #ff9500;
    --top-row-color: #d4d4d2;
    --number-buttons-color: #505050;
    --calc-body-color: #282828;
    --white: white;
    --black: black;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}
.calculatorBody{
    width: 29rem;
    height: 36rem;
    border-radius: 1rem;
    background-color: var(--calc-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.screen{
    width: 28rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: black;
    color: var(--white);
}
.topHalfOfScreen{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
    font-size: 1.2em;
}
.bottomHalfOfScreen{
    height: 70%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: .5rem;
    font-size: 2.6em;
}

.buttonHolder{
    display: grid;
    grid-template-columns: repeat(4, 6.5rem);
    grid-template-rows: repeat(5, 4.3rem);
    justify-self: center;
    grid-template-areas:
        "AC C percent divide"
        "number number number multiplication"
        "number number number minus"
        "number number number addition"
        "zero zero dot equalSign";
    column-gap: .5rem;
    row-gap: .5rem;
}

.button {
    border: 0;
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.6em;
}

#AC{
    grid-area: AC;
    background-color: var(--top-row-color);
    color: var(--black);
}

#C{
    grid-area: C;
    background-color: var(--top-row-color);
    color: var(--black);
}

#percent {
    grid-area: percent;
    background-color: var(--top-row-color);
    color: var(--black);
}
#divide{
    grid-area: divide;
    background-color: var(--mathOperators-button-color);
}

#multiply {
    grid-area: multiplication;
    background-color: var(--mathOperators-button-color);
}

#subtract {
    grid-area: minus;
    background-color: var(--mathOperators-button-color);
}

#add {
    grid-area: addition;
    background-color: var(--mathOperators-button-color);
}
#equal{
    grid-area: equalSign;
    background-color: var(--mathOperators-button-color);
}

#dot {
    grid-area: dot;
    background-color: var(--number-buttons-color);
}

.zero {
    grid-area: zero;
}
.number{
    background-color: var(--number-buttons-color);
}

footer{
    position: absolute;
    bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
footer a{
    color: var(--black);
    margin-top: auto;
}